html, body {
    /* background-color: yellow; */
    height: 768px;
    margin: 0;
    padding: 0;
    width: 1024px;
    color: #333;
    font-family: 'Avenir';
    background-color: black;
}

svg {
    background-color: black;
}

.container {
    /* background-color: green; */
    height: 768px;
    width: 1024px;
}

nav {
    background-color: black;
    height: 36px;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    vertical-align: middle;
}

nav a {
    display: block; 
    float: left;
}

nav > a, a:visited, a:active {
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 36px;
    padding-right: 0.25em;
    text-decoration: none;
}

nav > a > span {
    display: block;
    padding: 0 1em;
    height: 36px;
    cursor: pointer;
    text-align: center;
    border: 0;
    text-decoration: none;
    background-color: #ccc;
}

nav > a > span.genre {
    background-color: #9E379F;
}

nav > a > span.style {
    background-color: #0e68ce;
}

nav > a > span.decade {
    background-color: #028900;
}

nav > a > span.album {
    background-color: #BF0000;
}

#viz {
    left: 0;
    position: absolute;
    top: 36px;
    width: 100%;
}

.player {
    margin: 0 auto;
    text-align: center;
}

.player > audio, h2 {
    margin-top: 100px;
}

.player > h1 {
    font-size: 400%;
}

.player > h2 {
    font-size: 250%;
}

.player > h3 {
    font-size: 200%;
}

.player > h1, h2, h3 {
    color: white;
}

text {
    font-size: 24px;
    text-anchor: middle;
    pointer-events: none;
    fill: #fff;
}

circle {
    fill: #ccc;
}

circle.genre {
    fill: #9E379F;
}

circle.style {
    fill: #0e68ce;
}

circle.decade {
    fill: #028900;
}

.node:hover circle {
    fill: orange;
}

.table { 
    display: table; 
    width: 100%;
    font-size: 175%;
    margin-top: 1rem;
    color: white;
}

.table-row {
    /* background: grey; */
    display: table-row !important;
}

a.table-row {
    color: #BF0000;
    font-weight: bold;
}

a.table-row:link, a.table-row:visited, a.table-row:active {
    text-decoration: none;
}

a.table-row:hover {
    text-decoration: underline;
}

.table-cell {
    display: table-cell;
    padding-top: 1.25em;
    padding-right: 1em;
    font-family: 'Avenir' !important; 
}

audio {
    width: 50%;
}

.no-audio:before {
    content:"";
    margin: 0 1em;
}

a.no-audio {
    color: #fff;
    font-weight: normal;
}

[data-audio] { 
    cursor:pointer; 
}

[data-audio].on { 
    color: #0ac; 
}

/* https://fortawesome.github.io/Font-Awesome/cheatsheet/ */
[data-audio]:before { 
    content:"\f144"; 
    margin: 0 1em;
}

/*
[data-audio].on:before { 
    content:"\f28b"; 
    margin: 0 1em;
}
*/
