html, body {
    /* background-color: yellow; */
    height: 768px;
    margin: 0;
    padding: 0;
    width: 1024px;
    color: #333;
    font-family: 'Avenir';
}

nav > a, a:visited, a:active {
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 36px;
    padding-right: 0.25em;
    text-decoration: none;
}

svg {
    background-color: white;
}

.container {
    /* background-color: green; */
    height: 768px;
    width: 1024px;
}

nav {
    background-color: purple;
    height: 36px;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    vertical-align: middle;
}

nav a {
    display: block; 
    float: left;
}

nav > a > span{
    display: block;
    padding: 0 1em;
    height: 36px;
    cursor: pointer;
    text-align: center;
    border: 0;
    text-decoration: none;
    background-color: #333;
 }

#viz {
    left: 0;
    position: absolute;
    top: 36px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 150%;
    margin-top: 1rem;
}

th {
    color: #ccc;
    font-variant: small-caps;
}

th, td {
    padding: 0.5rem 1rem;
    text-align: left;
}

td > a {
    text-decoration: none;
    color: #333;
}

td > a:active {
    font-size: 100%;
    margin: 0 !important;
}

td > a:hover {
    color: #333;
}

.table { 
    display: table; 
    width: 100%;
    font-size: 150%;
    margin-top: 1rem;
}

.table-row {
    /* background: grey; */
    display: table-row !important;
}

.table-cell {
    display: table-cell;
    padding-top: 1em;
    padding-right: 1em;
    font-family: 'Avenir' !important; 
}

audio {
    width: 50%;
}

.no-audio:before {
    content:"";
    margin: 0 1em;
}

[data-audio] { 
    cursor:pointer; 
}

[data-audio].on { 
    color: #0ac; 
}

/* https://fortawesome.github.io/Font-Awesome/cheatsheet/ */
[data-audio]:before { 
    content:"\f144"; 
    margin: 0 1em;
}

[data-audio].on:before { 
    content:"\f28b"; 
    margin: 0 1em;
}
